{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Materials & Codes</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Code</th>
                        <th>Material Name</th>
                        <th>Inbound Price (R/kg)</th>
                        <th>Outbound Price (R/kg)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in materials %}
                    <tr>
                        <td><code>{{ m.code }}</code></td>
                        <td>{{ m.name }}</td>
                        <td>R {{ "%.2f"|format(m.inbound_price) }}</td>
                        <td>R {{ "%.2f"|format(m.outbound_price) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
